<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Hello, template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/webjars/patternfly/2.10.0/dist/css/patternfly.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/patternfly/2.10.0/dist/css/patternfly-additions.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/x-editable/1.5.1/dist/bootstrap3-editable/css/bootstrap-editable.css}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
</head>