<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='菜单'">
<th:block layout:fragment="content">

    <div th:fragment="menu">
        <div><a href="/create">创建Lambda函数</a></div>
        <div><a href="/functions">查看Lambda函数</a></div>

        <div><a href="/create_event_func_map">创建事件与函数的映射关系</a></div>
        <div><a href="/list_event_func_mappings">查看事件与函数的映射关系</a></div>

        <div><a href="/push">推送函数到边缘节点</a></div>
        <div><a href="/send_event">发送事件</a></div>
        <div><a href="/list_event_results">查看事件结果</a></div>
    </div>

</th:block>
</html>