<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='事件-函数映射列表'">
<th:block layout:fragment="content">


    <div class="container" column="col-sm-4" align="left">

        <table class="table table-striped">

            <thead><th>Id</th><th>FunctionName</th><th>EventName</th></thead>

            <tbody>
            <tr th:each="mapping : ${list_event_func_mappings}">
                <td th:text="${mapping.id}">0</td>
                <td th:text="${mapping.funcName}">test</td>
                <td th:text="${mapping.EventName}">test</td>
            </tr>
            </tbody>

        </table>

    </div>

</th:block>
</html>