<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='推送函数到边缘节点'">
<th:block layout:fragment="content">

    <div class="container" column="col-sm-2">
        <form class="form-horizontal" action="#" th:action="@{/push}" th:object="${fnm}" method="post">

            <div class="form-group">
                <label for="funcId" class="col-sm-2 control-label" path="funcId">请选择函数</label>
                <div class="col-sm-3">
                    <select class="form-control" id="funcId" name="funcId" th:field="*{funcId}">
                        <option th:each="function : ${functions}"
                                th:text="${#strings.concat(function.funcName, ':', function.funcVersion)}"
                                th:value="${function.id}">Function Id
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="nodeId" class="col-sm-2 control-label" path="nodeId">请选择节点</label>
                <div class="col-sm-3">
                    <select class="form-control" id="nodeId" name="nodeId" th:field="*{nodeId}">
                        <option th:each="node : ${nodes}"
                                th:text="${#strings.concat(node.id, '(', node.desc, ')')}"
                                th:value="${node.id}">Node Id
                        </option>
                        <option th:value="-1">All Nodes</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-1">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>

        </form>
    </div>

</th:block>
</html>