<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
      th:with="title='发送事件'">
<th:block layout:fragment="content">

    <div class="container" column="col-sm-2">
        <form class="form-horizontal" action="#" th:action="@{/send_event}" th:object="${event}" method="post">

            <div class="form-group">
                <label for="eventName" class="col-sm-2 control-label" path="eventName">请选择事件</label>
                <div class="col-sm-3">
                    <select class="form-control" id="funcId" name="funcId" th:field="*{eventName}">
                        <option th:each="event : ${events}"
                                th:text="${event.eventName}"
                                th:value="${event.eventName}">Event Name
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="eventArgs" class="col-sm-2 control-label" path="eventArgs">事件参数</label>
                <div class="col-sm-6">
                    <textarea class="form-control"
                              rows="10" cols="80"
                              id="eventArgs" placeholder="请输入事件参数（Json格式）" name="eventArgs" th:field="*{eventArgs}"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-1">
                    <button type="submit" class="btn btn-default">发送</button>
                </div>
            </div>

        </form>
    </div>

</th:block>
</html>