<html>
<head>
    <title>Functions</title>
    <link href="http://localhost:8080/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<h1>函数列表</h1>

<div class="container" column="col-sm-4" align="center">

    <table class="table table-striped">

        <thead><th>id</th><th>name</th><th>version</th><th>body</th></thead>

        <tbody>
            <tr th:each="function : ${functions}">
                <td th:text="${function.id}">0</td>
                <td th:text="${function.funcName}">test</td>
                <td th:text="${function.funcVersion}">0</td>
                <td th:text="${function.funcBody}">echo "hello world"</td>
            </tr>
        </tbody>

    </table>

</div>

</body>
</html>
