<html>
<head>
    <title>Welcome to LambdaEdge demo</title>
    <link href="http://localhost:8080/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<h1>LambdaEdge HomePage</h1>
<div><a href="/create">创建Lambda函数</a></div>
<div><a href="/push">推送函数到边缘节点</a></div>
<div><a href="/map">创建函数与事件的映射关系</a></div>
<div><a href="/send">发送事件</a></div>


<div><a href="/functions">查看Lambda函数</a></div>
<div><a href="/maps">查看函数与事件的映射关系</a></div>
<div><a href="/events">查看事件结果</a></div>
</body>
</html>